{% extends 'base.html' %}
{% load staticfiles comments %}
{% block title %}
    {{ post.title }}
{% endblock %}
{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/post-styles.css' %}">
{% endblock %}
{% block styles %}
    <style type="text/css">
        .blogShort {
        }

        article h2 {
            color: #333333;
        }

        h2 {
            color: #34ca78;
        }

        .img-post {
            margin-bottom: 10px;
            margin-right: 10px;
        }

        {# Comments styles#}

    </style>

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 blogShort">
                <h1>
                    Blog Title
                </h1>
                <img src="http://joern-duwe.de/aquaristik/images/skalare00.jpg" alt="post img"
                     class="pull-left img-responsive postImg img-thumbnail img-post">
                <article><p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text
                    ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book. It has survived not only
                    five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
                    was popularised in the 1960s with the release
                    of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                    software like Aldus PageMaker including versions of
                    Lorem Ipsum.
                </p>

                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text
                        ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                        type specimen book. It has survived not only
                        five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        It was popularised in the 1960s with the release
                        of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                        software like Aldus PageMaker including versions of
                        Lorem Ipsum.
                    </p>

                    <h2>It is so easy</h2>

                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text
                        ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                        type specimen book. It has survived not only
                        five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        It was popularised in the 1960s with the release
                        of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                        software like Aldus PageMaker including versions of
                        Lorem Ipsum.
                    </p>

                    <h3>How to lose 20 pounds in 1 week!</h3>
                    <br>
                    <iframe width="100%" height="480" src="//www.youtube.com/embed/Bn_d-ghQ5HA" frameborder="0"
                            allowfullscreen></iframe>

                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text
                        ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                        type specimen book. It has survived not only
                        five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        It was popularised in the 1960s with the release
                        of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                        software like Aldus PageMaker including versions of
                        Lorem Ipsum.
                    </p>
                    <h4>It is so easy</h4>

                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text
                        ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                        type specimen book. It has survived not only
                        five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        It was popularised in the 1960s with the release
                        of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                        software like Aldus PageMaker including versions of
                        Lorem Ipsum.
                    </p>


                </article>


            </div>
        </div>
        <div class="row">
            {# Show Comments for post#}
            {% get_comment_count for post as comment_count %}
            {% get_comment_count for blog.post post.id as post_comment_count %}

            {% get_comment_list for post as comment_list %}

            <div class="col-md-12">
                <div class="comments-container">
                    <h3 class="text-success">
                        {{ comment_count }} Comments , post comment count : {{ post_comment_count }}
                    </h3>

                    {# Quickly rendering a comment list #}
                    {% comment %}{% render_comment_list for post %}{% endcomment %}
                    <ul class="comments-list">

                        {% for comment in comment_list %}
                            {#  must add author of comment into this #}
                            {% include 'comments/comment_snippet.html' with comment=comment %}
                        {% endfor %}
                    </ul>
                    {% comment %}{% render_comment_form for post %}{% endcomment %}
                    <hr>
                    {% comment %}<div class="input-group">
                        <input class="form-control" placeholder="Add a comment" type="text">
                    <span class="input-group-addon">
                        <a href="#"><i class="fa fa-edit"></i></a>
                    </span>
                    </div>{% endcomment %}
                    <hr>
                    <h2>Do you want Post Your Comment :</h2>
                    {% render_comment_form for blog.post post.id %}

                    {% comment %}{% get_comment_form for blog.post post.id as form %}
                    <form action="{% comment_form_target %}" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" value="send" name="Send Comment">
                    </form>{% endcomment %}


                </div>
            </div>
        </div>
    </div>
{% endblock %}